/*Général*/

*{
    margin-top: 0px;
}

html{
    background-color: rgba(217, 212, 206, 0.923);
}

body{
    margin: 0px;
}

nav{
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
    font-size: 35px;
}

footer{
    display: flex;
    justify-content: space-between;
}

div{
    margin-top: 20px;
    margin-bottom: 20px;
}

h1{
    display: flex;
    justify-content: center;
    font-family: 'Russo One', sans-serif;
    color: red;
}

h3{
    font-family: 'Russo One', sans-serif;
    color: red;
    font-size: 24px;
}
p{
    font-family: 'Press Start 2P', sans-serif;
}

a{
    font-family: 'Russo One', sans-serif;
    color: black;
}

li{
    font-family: 'Press Start 2P', sans-serif;
    margin: 2vh;
}


/*Id*/

/*Class*/

.top{
    background-image: url(../img/r.o.b_baniere1.jpg);
    min-height: 21vh
}

.Press_Start_2P{
    font-family: 'Press Start 2P', cursive;
}

.black{
    color: black;
}

.one{
    display: flex;
    flex-direction: column;
}

main div .image{
    display: flex;
    align-items: right;
    max-width: -2vh;
}

.second{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 50px;

}

.mail{
    margin-bottom: 2vh;
    font-size: 20px;
}

.resaux li{
    font-size: 20px;
}

main div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Ici on applique une modification si l'ecran est plus petit que 460px(ici ref d'un tel)*/

@media screen and (max-width:460px) {

    .top{
        min-width: 730px;
    }

    nav{
        display: flex;
        justify-content: space-around;
    }

    .image{
        display: flex;
        flex-direction: column;
    }

    .one{
        margin-top: -5vh;
    }
}

